<div id="big_wrapper">
  <div class="right">
    <a href="/dashboard">Go to Polls</a>
  </div>

  <!--{{topic_id}}
  <br><br>
  {{topics | json}}-->

  <div *ngFor="let topic of topics">
    <h1 *ngIf="topic_id==topic._id">{{topic.title}}</h1>
    <h5 *ngIf="topic_id==topic._id">Click the Vote button to choose one.</h5>
    <br>
    <div *ngIf="topic_id==topic._id">
      <table id="vote_box">
        <tr>
          <th>Option</th>
          <th>Current Count of Votes</th>
          <th>Action</th>
        </tr>
        <tr>
          <td>{{topic.option_1[0]}}</td>
          <td>{{topic.option_1[1]}}</td>
          <td><button (click)="vote(1,topic_id)">Vote</button></td>
        </tr>
        <tr>
          <td>{{topic.option_2[0]}}</td>
          <td>{{topic.option_2[1]}}</td>
          <td><button (click)="vote(2,topic_id)">Vote</button></td>
        </tr>
        <tr>
          <td>{{topic.option_3[0]}}</td>
          <td>{{topic.option_3[1]}}</td>
          <td><button (click)="vote(3,topic_id)">Vote</button></td>
        </tr>
        <tr>
          <td>{{topic.option_4[0]}}</td>
          <td>{{topic.option_4[1]}}</td>
          <td><button (click)="vote(4,topic_id)">Vote</button></td>
        </tr>
      </table>
    </div>
  </div>

</div>