<div id="big_wrapper">
  <div id="login-box">
    <h3>Login</h3>
    <form #loginForm='ngForm' (submit)="login(loginForm)">
      <div class="form-group">
        <input class="form-control" type="text" name="username" placeholder="Username"
        required
        minlength="2"
        maxlength="24"
        [(ngModel)]="user.name"
        #name="ngModel">
        <button id="loginButton" class="btn btn-default" type="submit"
        [disabled]="!loginForm.valid">Enter</button>
      </div>
    </form>
    <div *ngIf="!name.valid && (name.touched || loginForm.submitted)">
      <p class="red">Name must be at least 2 characters</p>
    </div>
  </div>
</div>