#big_wrapper {
    border-radius: 10px;
    width: 1280px;
    height: 720px;
    margin: 0px auto;
    background-color: lightskyblue;
    border-top: 2px solid darkslategray;
}

.red {
    color: red;
}

#games_title {
    text-align: middle;
}

.right {
    text-align: right;
}

#activeUser {
    display: inline-block;
    width: 95%;
    padding-left: 10px;
    color: darkslategray;
}

#online_header {
    color: darkslategray;
    text-align: center;
}

#optionBar {
    display: inline-block;
    text-align: right;
}

#rightSpace {
    display: inline-block;
    width: 1060px;
    height: 661px;
    margin-left: -4px;
}

#topBar {
    border-bottom: 2px solid darkslategray;
}

#onlinePlayers {
    display: inline-block;
    vertical-align: top;
    border-right: 2px solid darkslategray;
    width: 220px;
    height: 662px;
    padding: 10px;
}

#gameSpace {
    width: 1052px;
    height: 462px;
    padding: 10px;
    display: inline-block;
}

#game_selector {
    display: inline-block;
}

#chatSpace {
    background-color: white;
    border-top: 2px solid darkslategray;
    width: 1060px;
    height: 199px;
    padding: 10px;
    border-bottom-right-radius: 10px;
}