<div id="big_wrapper">
  <div id="topBar">
    <div id="innerTop">
      <a id="title" (click)="toDashboard()"><h3>Gaming Hub</h3></a>
      <button (click)="pong()" type="button" class="btn btn-default">Pong</button>
      <button (click)="golf()" type="button" class="btn btn-default">Golf</button>
      <button id="logout_button" (click)="logoutUser()" class="btn btn-default">logout</button>
    </div> <!--innerTop-->
  </div> <!--topBar-->
  <div id="body">
    <div id="onlinePlayers">
      <div id="playerList">
        <h3 id="online_header">Players Online</h3>
        <div class="playerbox" *ngFor="let player of players">
          {{player.name}}
        </div> <!--player names-->
      </div> <!--playerList-->
    </div> <!--onlinePlayers-->
    <div id="middle">
      <div *ngIf="!game_profile" (click)="pong()" class="game_selection pong">
        <button class="game_icon"><img src="./../assets/pong.jpg" alt="pong.jpg"></button>
      </div>
      <div *ngIf="!game_profile" (click)="golf()" class="game_selection golf">
        <button  id="golf_button"><img id="golf_pic" src="./../assets/golf.png" alt="golf.png"></button>
      </div>
      <div id="gameSpace" *ngIf="game_profile">
        <br>
        <router-outlet></router-outlet>
      </div> <!--gameSpace-->
    </div> <!--middle-->

    <div id="chatSpace">
      <div id="msgSpace">
        <div *ngFor='let message of messages'>
          <span class="msg_time">({{ message.createdAt | date: 'shortTime' }})</span>
          <span class="msg_user">{{ message.name }}</span>
          <span class="msg_msg">{{ message.message }}</span>
        </div>
      </div>
      <form #msgForm='ngForm' (submit)=onSubmit(msgForm)>
        <input id="msg_input" type="text" name="message"
        [(ngModel)]='message_obj.message'
        #message='ngModel'
        required>
        <input id="submitMsg" type="submit" value="Send">
      </form>
      <div *ngIf='message.errors && (msgForm.submitted )' class='red'>
        <li *ngIf='message.errors.required'>Message is required</li>
      </div>
    </div>
    
  </div> <!--body-->
</div> <!--big_wrapper-->