* {
    padding: 0px;
    margin: 0px;
}
div#big_wrapper {
    height: 100vh;
    background-color: #0e0e0e;
}
div#topBar {
    background-color: #ff6c60;
    height: 60px;
}
div#innerTop {
    width: 1300px;
    height: 60px;
    padding-top: 15px;
    margin: auto;
}
#title{
    color: #333;
}
h3 {
    display: inline-block;
    font-size: 24pt;
    margin-right: 20px;
    cursor: pointer;
}
button {
    background-color: #ff7a5a;
    margin-bottom: 15px;
    margin-right: 15px;
    width: 50px;
    height: 25px;
    border: none;
    color: white;
    font-weight: 200;
}
#logout_button{
    float: right;
}
div#body {
    background-color: #282828;
    margin: auto;
    height: 93.5vh;
    padding-left: 310px;
    padding-right: 310px;
}
div#onlinePlayers {
    display: inline-block;
    width: 230px;
    height: 720px;
    padding: 5px;
    vertical-align: top;
    color: #ff8f00;
}
div#playerList {
    overflow: scroll;
    border-radius: 5px;
    height: 400px;
    padding-left: 10px;
    padding-top: 10px;
}
.playerbox {
    margin-left: 10px;
    font-size: 12pt;
}
#online_header {
    color: white;
    border-bottom: 1px solid white;
    width: 100%;
    font-size: 14pt;
    margin-bottom: 10px;
    font-weight: 200;
}
div#middle {
    vertical-align: top;
    background-color: #484848;
    width: 700px;
    height: 600px;
    display: inline-block;
    margin: 15px;
}
.game_selection {
    width: 700px;
    height: 300px;
    cursor: pointer;
}
.pong {
    background-color: #0e1116;
}
.golf {
    background-color: white;
}
#golf_pic {
    margin-left: 400px;
}
div#chatSpace {
    vertical-align: top;
    width: 316px;
    height: 590px;
    padding: 10px;
    float: right;
    margin-top: 15px;
}
div#msgSpace {
    overflow: scroll;
    height: 562px;
}
.msg_time {
    color: #181818;
}
.msg_user {
    color: #f78f00;
}
.msg_msg {
    color: white;
}
#msg_input {
    width: 220px;
    height: 25px;
    margin-top: 5px;
    border: none;
    padding-left: 5px;
}
#submitMsg {
    height: 25px;
    width: 55px;
    background-color: #ff6c60;
    color: white;
    border: none;
}
div#gameSpace {
    display: inline-block;
}
.red {
    color: red;
}
#golf_button {
    color: white;
    background-color: white;
}
img {
    width: 300px;
    height: 300px;
    display: inline-block;
}