<div id="big_wrapper">

  <div id="topBar">
    <h3 id="activeUser">Welcome: {{activeUser}}</h3>
    <!--logout button-->
    <div class="right" id="optionBar">
      <a (click)="logoutUser()">logout</a>
    </div>
  </div>

  <div id="onlinePlayers">
    <h5>Players Online:</h5>
    <div *ngFor="let player of players">
      {{player.name}}
    </div>
  </div>

  <div id="rightSpace">
    <!--If we have not yet selected a game profile...-->
    <div *ngIf="!game_profile" id="gameSpace">
      <h1 id="games_title">Games:</h1>
      <a (click)="pong()">Pong</a>
    </div>
    <!--If we've selected a game profile, to load a component-->
    <div *ngIf="game_profile" id="gameSpace">
      <router-outlet></router-outlet> 
    </div>
    <!--Global chat space-->
    <div id="chatSpace">
      <p>Global Chat Space</p>
    </div>
  </div>

  
  

  <!--<h5>Current Polls:</h5>

  <div *ngIf="topics">
    
    <table>
      <tr>
        <th>Name</th>
        <th>Survey Question</th>
        <th>Date Posted</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let topic of topics">
        <td>{{topic.user}}</td>
        <td><a href="/topic/{{topic._id}}">{{topic.title}}</a></td>
        <td>{{topic.createdAt | date}}</td>
        <td *ngIf="topic.user==activeUser"><a (click)="deleteTopic(topic._id)">Delete</a></td>
        <td *ngIf="topic.user!=activeUser"></td>
      </tr>
    </table>
  </div>

  <br>

  <h5>Create new Poll:</h5>

  <div id="newTopicSpace">
      
    <form #topicForm='ngForm' (submit)="addTopic(topicForm)">
      <label for="title">Question:</label>
      <input type="text" name="title" required minlength="8" [(ngModel)]="topic.title" #title="ngModel">
      <br>
      <label for="option_1">Option 1:</label>
      <input type="text" name="option_1" required minlength="3" [(ngModel)]="topic.option_1" #option_1="ngModel">
      <br>
      <br>
      <label for="option_2">Option 2:</label>
      <input type="text" name="option_2" required minlength="3" [(ngModel)]="topic.option_2" #option_2="ngModel">
      <br>
      <br>
      <label for="option_3">Option 3:</label>
      <input type="text" name="option_3" required minlength="3" [(ngModel)]="topic.option_3" #option_3="ngModel">
      <br>
      <br>
      <label for="option_4">Option 4:</label>
      <input type="text" name="option_4" required minlength="3" [(ngModel)]="topic.option_4" #option_4="ngModel">
      <br><br>
      <button type="submit" [disabled]="!topicForm.valid">Create Poll</button>
    </form>

    <div *ngIf="!title.valid && (title.touched || topicForm.submitted)">
        <p class="red">Question required, min 8 char</p>
    </div>
    <div *ngIf="!option_1.valid && (option_1.touched || topicForm.submitted)">
        <p class="red">Option 1 required, min 3 char</p>
    </div>
    <div *ngIf="!option_2.valid && (option_2.touched || topicForm.submitted)">
        <p class="red">Option 2 required, min 3 char</p>
    </div>
    <div *ngIf="!option_3.valid && (option_3.touched || topicForm.submitted)">
        <p class="red">Option 3 required, min 3 char</p>
    </div>
    <div *ngIf="!option_4.valid && (option_4.touched || topicForm.submitted)">
        <p class="red">Option 4 required, min 3 char</p>
    </div>


  </div>-->

</div>